<% content_for :title do %>About<% end %>
<h3>About The Blog</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, mollitia, est voluptatibus molestias possimus expedita pariatur minima rem quae voluptatem animi accusamus ex sint ullam recusandae cupiditate nobis veritatis eligendi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, mollitia, est voluptatibus molestias possimus expedita pariatur minima rem quae voluptatem animi accusamus ex sint ullam recusandae cupiditate nobis veritatis eligendi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, mollitia, est voluptatibus molestias possimus expedita pariatur minima rem quae voluptatem animi accusamus ex sint ullam recusandae cupiditate nobis veritatis eligendi.</p>
